body{
	background-color: #FCFCFC;
	margin: 0px 0px 20px 0px;
}

.JMHeading1{
	font-family: "Verdana";
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-indent: 0px;
	margin-top: 10px;
	margin-bottom: 5px;
	white-space: nowrap;
	margin-left: 10px;
}

.JMHeading2{
	font-family: "Verdana";
	font-size: 11px;
	color: 777777;
	margin-top: 3px;
	margin-bottom: 2px;
	text-indent: 11pt;
	white-space: nowrap;
	margin-left: 10px;

}

.JMHeading3 {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 11px;
	color: #1E5388;
	margin-top: 3px;
	margin-bottom: 2px;
	text-indent: 22pt;
	white-space: nowrap;
	margin-left: 10px;

}

.JMHeading4 {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 11px;
	color: #1E5388;
	margin-top: 3px;
	margin-bottom: 2px;
	text-indent: 33pt;
	white-space: nowrap;
	margin-left: 10px;

}

.JMTitleHeading {
	font-family: "Times New Roman", "Times", "serif";
	font-size: 14px;
	font-weight: bold;
	color: #5686BE;
	margin-bottom: 20px;
	background-color: #EAE8E4;
	border-bottom: 1px solid #CCCCCC;
	padding-left: 10px;
	padding-top:6px;
	height: 30px;
}

a:visited {
	color: #000000;
	text-decoration: none;
}
a:link {
	color: #000000;
	text-decoration: none;
}

a:hover {
	color: #1E5388;
	text-decoration: underline;
}a:active {
	color: #1E5388;
}
