<html jwcid="shell">
    <body jwcid="@Body">
        <div id="mainborder_content">
            <span jwcid="dynamite"/>
            <form jwcid="customizeForm">
                <span jwcid="pageSize">
                    <input jwcid="pageSizeField"/>
                </span>
                <span jwcid="columnsSection"/>
                <tr>
                    <td colspan="2" align="center">
                        <input jwcid="columns"/>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <input jwcid="ok"/>&nbsp;<input jwcid="cancel"/>
                    </td>
                </tr>
            </form>
            <span jwcid="availableTitle@Block">
                <span jwcid="available"/>
            </span>
            <span jwcid="selectedTitle@Block">
                <span jwcid="selected"/>
            </span>
        </div>
    </body>
</html>