<html jwcid="shell">
    <span jwcid="condTree">
       <script jwcid="@Any" element="script" type="text/javascript" src="asset:poslib"/>
       <script jwcid="@Any" element="script" type="text/javascript" src="asset:scrollbutton"/>
       <script jwcid="@Any" element="script" type="text/javascript" src="asset:menu4"/>
    </span>
    <style type="text/css">
        @import "/webadmin/js/JeusDojo/release/dojo/dijit/themes/tundra/tundra.css";
        @import "/webadmin/js/JeusDojo/release/dojo/dojo/resources/dojo.css";
    </style>
    <body jwcid="@Body" class="tundra">
    	<span jwcid="@RenderBody"/>
	</body>
</html>
