<span jwcid="$content$">
    <table class="table">
        <tr>
            <th>
                <span jwcid="name_column"/>
            </th>
            <th>
                <span jwcid="type_column"/>
            </th>
            <th>
                <span jwcid="level_column"/>
            </th>
            <th>
                <span jwcid="encoding_column"/>
            </th>
            <th>
                <span jwcid="filter_class_column"/>
            </th>
            <th style="width: 20px;">
                &nbsp;
            </th>
        </tr>
        <tr jwcid="eachHandler">
            <td>
                <a jwcid="handlerLink"><span jwcid="name_value"/></a>
            </td>
            <td>
                <span jwcid="type_value"/>
            </td>
            <td>
                <span jwcid="level_value"/>
            </td>
            <td>
                <span jwcid="encoding_value"/>
            </td>
            <td>
                <span jwcid="filter_class_value"/>
            </td>
            <td align="center">
                <a jwcid="deleteLink"><img jwcid="delete" border="0" alt="delete"/></a>
            </td>
        </tr>
    </table>
	<div class="form_button_layer">
       <a jwcid="create_consoleLink" class="create_link"><span jwcid="create_console_label"/></a>
       <a jwcid="create_fileLink" class="create_link"><span jwcid="create_file_label"/></a>
       <a jwcid="create_smtpLink" class="create_link"><span jwcid="create_smtp_label"/></a>
       <a jwcid="create_socketLink" class="create_link"><span jwcid="create_socket_label"/></a>
       <a jwcid="create_userLink" class="create_link"><span jwcid="create_user_label"/></a>
	</div>	    

</span>