<span jwcid="$content$">
    <table width="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
            <td width="4" height="27"><img jwcid="top_line_01" width="4" height="27"/></td>
            <td width="140" align="center" jwcid="top_line_back" style="font-family:Arial;font-size:11px;font-weight:bold;" ><span jwcid="title"/></td>
            <td width="17" ><img jwcid="top_line_02" width="17" height="27"/></td>
            <td jwcid="top_line_back3">
                <span jwcid="eachRender">
                    <img jwcid="point" width="10" height="9" align="absmiddle"/>&nbsp;<span jwcid="render"/>
                </span>
            </td>
            <td width="17"><img jwcid="top_line_05" width="17" height="27"/></td>
        </tr>
        <tr>
            <td width="4" jwcid="top_line_back2" valign="top"></td>
            <td align="center"><img jwcid="icon" width="70" height="70"/></td>
            <td valign="bottom"><img jwcid="top_line_06" width="17" height="68"/></td>
            <td valign="top" style="font-family:Tahoma;font-size:12px;font-wegith:bold;color:#444444;" >
                <span jwcid="description"/>
            </td>
            <td jwcid="top_line_back5_2">&nbsp;</td>
        </tr>
         <tr>
            <td  height="7" style="font-size:1px;" valign="top" width="4"><img jwcid="top_line_07" width="4" height="7"/></td>
            <td  height="7" style="font-size:1px;" valign="top" ><img jwcid="top_line_08" width="140" height="7"/></td>
            <td  height="7" style="font-size:1px;" valign="top"><img jwcid="top_line_09" width="17" height="7"/></td>
            <td  height="7" jwcid="top_line_back4" style="font-size:1px;background-repeat:repeat-x;background-position:bottom;">&nbsp;</td>
            <td  height="7" style="font-size:1px;" valign="top"><img jwcid="top_line_10" width="17" height="7"/></td>
        </tr>
    </table>
</span>