<span jwcid="$content$">
	<span jwcid="makeNodeDirect">
		<table border="0" cellspacing="0" cellpadding="0" width="100%" height="16">
			<tr>
                <span jwcid="foreachConnectImage"><td nowrap="true" width="20" align="center"><img jwcid="connectImage"/></td></span>
                <td width="20" align="center" nowrap="true">
                    <a jwcid="expandCollapsDirect"><span jwcid="showImages"><img jwcid="imageNode"/></span></a>
                </td>
                <td width="20" align="center" nowrap="true"><span jwcid="showIcons"><img jwcid="iconNode" align="absmiddle"/></span></td>
                <td width="*" nowrap="true">
                    <span jwcid="hasPopup"><!-- hasPopup -->&nbsp;
                        <a id="ognl:displayName1" jwcid="popup" type="ognl:type" style="cursor:pointer" objectName="ognl:encodedObjectName" displayName="ognl:objectName" state="ognl:state">
                            <span jwcid="@Any" element="span" class="ognl:nodeStyleClass">
                                <span jwcid="insertValue4" id="insertValue4"/>
                            </span>
                        </a>
                        <div dojoType="dijit.Tooltip" connectId="ognl:displayName1" label="ognl:displayName1" jwcid="@Any"></div>
                    </span>
                    <span jwcid="hasAction"><!-- hasAction -->&nbsp;
                        <a id="ognl:displayName2" jwcid="action" type="ognl:type" objectName="ognl:encodedObjectName" displayName="ognl:objectName" state="ognl:state" onClick="onSelect(this);">
                            <span jwcid="@Any" element="span" class="ognl:nodeStyleClass">
                                <span jwcid="insertValue"/>
                            </span>
                        </a>
                        <div dojoType="dijit.Tooltip" connectId="ognl:displayName2" label="ognl:displayName2" jwcid="@Any"></div>
                    </span>
                    <span jwcid="hasNotAction"><!-- hasNotAction -->&nbsp;
                        <a id="ognl:displayName3" jwcid="@Any" element="a" style="cursor:pointer" type="ognl:type" objectName="ognl:encodedObjectName" displayName="ognl:objectName" state="ognl:state" onClick="onSelect(this);">
                            <span jwcid="@Any" element="span" class="ognl:nodeStyleClass">
                                <span jwcid="insertValue2" id="insertValue2"/>
                            </span>
                        </a>
                        <div dojoType="dijit.Tooltip" connectId="ognl:displayName3" label="ognl:displayName3" jwcid="@Any"></div>
                    </span>
                </td>
             </tr>
        </table>
    </span>
</span>