<span jwcid="$content$">
    <span jwcid="condModify">
        <span jwcid="readOnlyName"/>
    </span>
    <span jwcid="condNotWeb">
        <span jwcid="level">
            <input jwcid="levelField"/>
        </span>
    </span>
    <span jwcid="logging_blind">
        <span jwcid="condCreate">
	        <span jwcid="name">
	            <input jwcid="nameField"/>
	        </span>
	    </span>
        <span jwcid="use_parent_handlers">
            <input jwcid="use_parent_handlersField"/>
        </span>
        <span jwcid="filter_class">
            <input jwcid="filter_classField" style="width:98%;"/>
        </span>
    </span>
</span>