<html jwcid="shell">
    <body jwcid="@Body" class="tundra">
        <script type="text/javascript" src="/webadmin/js/JeusDojo/release/dojo/dojo/dojo.js" djConfig="parseOnLoad: true"></script>
        <script type="text/javascript" src="/webadmin/js/JeusDojo/release/dojo/dojo/jeus.js"></script>
        <script type="text/javascript">
            dojo.require("dojo.parser");
            dojo.require("dijit.form.CheckBox");
            dojo.require("dijit.form.FilteringSelect");
            dojo.require("dijit.form.Textarea");
            dojo.require("dijit.form.TextBox");
            dojo.require("dijit.form.ValidationTextBox");
            dojo.require("dijit.Tooltip");
            dojo.require("dijit.Dialog");
            dojo.require("dijit.form.Button");
            dojo.require("dijit.TitlePane");
            dojo.require("dojox.widget.FisheyeList");

            function showElementDocument(obj){
                var panel = dijit.byId("ElementDocument");
                if(!panel){
                    var node = document.createElement("div");
                    dojo.body().appendChild(node);
                    var params = {
                        id : "ElementDocument",
                        title : "Element Document",
                        refocus : false,
                        duration : 300
                    };
                    panel = new dijit.Dialog(params, node);

                    panel.resize({ w:600 });
                }
                panel.setHref(obj.href);
                panel.show();
        }
        </script>
        <span jwcid="@Dynamite"/>
        <div class="navigation">
            <span jwcid="@Navigation" source="ognl:navigations"/>
        </div>
        <!-- body here -->
        <div id="mainborder_content">
			<span jwcid="@RenderBody"/>
		</div>
    </body>
</html>

